<p id="notice"><%= notice %></p>

<h1>Listing Entities</h1>

<table>
  <thead>
    <tr>
      <th>Research aim</th>
      <th>Research metric</th>
      <th>Evidence benefit</th>
      <th>Evidence context</th>
      <th>Evidence result</th>
      <th>Evidence intergrity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.research_aim %></td>
        <td><%= entity.research_metric %></td>
        <td><%= entity.evidence_benefit %></td>
        <td><%= entity.evidence_context %></td>
        <td><%= entity.evidence_result %></td>
        <td><%= entity.evidence_intergrity %></td>
        <td><%= link_to 'Show', [@bibliographic, entity] %></td>
        <td><%= link_to 'Edit', edit_bibliographic_entity_path(@bibliographic, entity) %></td>
        <td><%= link_to 'Destroy', [@bibliographic, entity], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_bibliographic_entity_path %>
