<%=  to = (action_name == 'mod_edit')? 'mod_index_bibliographics' : 'bibliographics' %>
<%= form_for(@bibliographic) do |f| %>
  <% if @bibliographic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bibliographic.errors.count, "error") %> prohibited this bibliographic from being saved:</h2>

      <ul>
      <% @bibliographic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div >
  <div class="field">
    <%= f.label :year %><br>
    <%= f.date_select :year %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :book %><br>
    <%= f.text_field :book %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :doi %><br>
    <%= f.text_field :doi %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :page %><br>
    <%= f.text_field :page %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.text_field :month %>
  </div>
  <%= f.hidden_field(:to, value: to)%>
  <% if %w[new edit].include?(action_name) %>
  <div id="rating"></div>
  <% end #if%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">

$(function() {
  $('#rating').raty({path: '/', scoreName: 'bibliographic[rating]', score: <%= @bibliographic.present? ? @bibliographic.rating : 0 %>});
});
</script>
