<p id="notice"><%= notice %></p>

<h3>Confirmed Articles</h3>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Source</th>
      <th>Book</th>
      <th>Publisher</th>
      <th>Doi</th>
      <th>Number</th>
      <th>Page</th>
      <th>Month</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bibliographics.each do |bibliographic| %>
      <tr>
        <td><%= bibliographic.title %></td>
        <td><%= bibliographic.author %></td>
        <td><%= bibliographic.year %></td>
        <td><%= bibliographic.source %></td>
        <td><%= bibliographic.book %></td>
        <td><%= bibliographic.publisher %></td>
        <td><%= bibliographic.doi %></td>
        <td><%= bibliographic.number %></td>
        <td><%= bibliographic.page %></td>
        <td><%= bibliographic.month %></td>
        <td><%= bibliographic.rating %></td>
        <% if bibliographic.entity.present? %>
	        <td><%= link_to 'Edit Article', edit_bibliographic_entity_path(bibliographic, bibliographic.entity) %></td>
        <% else %>
	        <td><%= link_to 'Add Evidence', new_bibliographic_entity_path(bibliographic) %></td>
	    <% end #if%>
      </tr>
    <% end %>
  </tbody>
</table>

